{{ define "add-form" }}
<div class="mt-6 mx-auto max-w-lg rounded-xl bg-surface bg-surface-100 dark:bg-dark-surface-100 border-1 border-surface-400 dark:border-dark-surface-400 text-white">
  <form
    class="p-6"
    hx-post="/todos?listId={{ .SelectedList }}" hx-target="#item-list" hx-swap="beforeend"
    hx-on::after-request="if(event.detail.successful) this.reset()"
  >
    <p class="text-2xl">Add items</p>
    <div class="flex flex-col my-4">
      <label class="block mb-1" for="name">Name</label>
      <input
        class="form-input"
        autofocus
        name="name"
        type="text"
        placeholder="Alexandrite..."
        required
      />
    </div>
    <div class="flex flex-col my-4">
      <label class="block mb-1" for="name">Description</label>
      <textarea
        class="form-input"
        name="description"
        type="text"
        placeholder="Buy map from Auriana for 50 poetics..."
        rows="3"
      ></textarea>
    </div>
    <div class="flex flex-col mb-4">
      <p class="text-md">Has Count?</p>
      <label class="switch scale-75 -ml-2">
        <input type="checkbox" name="has-count" value="true">
        <span class="slider"></span>
      </label>
    </div>
    <div class="flex flex-col mb-6">
      <label class="block mb-1"  for="Count">Count</label>
      <input
        class="form-input [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
        type="number"
        name="count"
        placeholder="50"
      />
    </div>
    <div class="flex flex-col">
      <button
        class="cursor-pointer self-end px-4 py-2 text-right rounded text-white bg-primary-500 dark:bg-primary-300"
        type="submit"
      >
        <span class="font-semibold">+</span> Add
      </button>
    </div>
  </form>
</div>
{{ end }}