{{ define "add-form" }}
<div class="mt-6 mx-auto max-w-lg rounded-xl bg-surface bg-surface-100 dark:bg-dark-surface-100 border-1 border-surface-400 dark:border-dark-surface-400 text-white">
  <form
    class="p-6"
    hx-post="/todos" hx-target="#item-list" hx-swap="beforeend"
    hx-on::after-request="if(event.detail.successful) this.reset()"
  >
    <p class="text-2xl">Add items</p>
    <div class="flex flex-col my-4">
      <label class="block mb-1" for="name">Name</label>
      <input
        class="px-2 py-1 focus:ring-0 focus:outline-none caret-primary-200 dark:caret-dark-primary-200 focus:border-primary-300 focus:dark:border-dark-primary-300 border-1 border-solid  border-surface-200 dark:border-dark-surface-200 bg-surface-200 dark:bg-dark-surface-200 placeholder:text-surface-600 placeholder:dark:text-dark-surface-600 rounded-sm"
        autofocus
        name="name"
        type="text"
        placeholder="Alexandrite..."
        required
      />
    </div>
    <div class="flex flex-col my-4">
      <label class="block mb-1" for="name">Description</label>
      <textarea
        class="px-2 py-1 focus:ring-0 focus:outline-none caret-primary-200 dark:caret-dark-primary-200 focus:border-primary-300 focus:dark:border-dark-primary-300 border-1 border-solid  border-surface-200 dark:border-dark-surface-200 bg-surface-200 dark:bg-dark-surface-200 placeholder:text-surface-600 placeholder:dark:text-dark-surface-600 rounded-sm"
        name="description"
        type="text"
        placeholder="Buy map from Auriana for 50 poetics..."
        rows="3"
        required
      ></textarea>
    </div>
    <div class="flex flex-col mb-4">
      <p class="text-md">Has Count?</p>
      <label class="switch scale-75 -ml-2">
        <input type="checkbox" name="has-count" value="true">
        <span class="slider"></span>
      </label>
    </div>
    <div class="flex flex-col mb-6">
      <label class="block mb-1"  for="Count">Count</label>
      <input
        class="px-2 py-1 focus:ring-0 focus:outline-none caret-primary-200 dark:caret-dark-primary-200 focus:border-primary-300 focus:dark:border-dark-primary-300 border-1 border-solid  border-surface-200 dark:border-dark-surface-200 bg-surface-200 dark:bg-dark-surface-200 placeholder:text-surface-600 placeholder:dark:text-dark-surface-600 rounded-sm [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
        type="number"
        name="count"
        placeholder="50"
      />
    </div>
    <button
      class="cursor-pointer mx-auto px-4 py-2 rounded text-black bg-primary-300 dark:bg-primary-300"
      type="submit"><span class="font-semibold">+</span> Add</button>
  </form>
</div>
{{ end }}